.dropdown-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    background: url('../assets/aira-matrix-bg.jpeg');
    background-size: cover;
}
