<div class="dropdown-container">
  <mat-form-field appearance="fill">
    <mat-label>{{ SELECT_COUNTRYNAME }}</mat-label>
    <mat-select [(ngModel)]="selectedCountryId">
      @for (country of countries; track country.id) {
        <mat-option [value]="country.id">{{ country.name }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  @if (selectedCountryId) {
    <mat-form-field appearance="fill">
      <mat-label>{{ SELECT_STATENAME }}</mat-label>
      <mat-select [(ngModel)]="selectedStateId">
        @for (state of states; track state.id) {
          <mat-option [value]="state.id">{{ state.name }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  }

  @if (selectedStateId) {
    <mat-form-field appearance="fill">
      <mat-label>{{ SELECT_DISTRICTNAME }}</mat-label>
      <mat-select [(ngModel)]="selectedDistrictId">
        @for (district of districts; track district.id) {
          <mat-option [value]="district.id">{{ district.name }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  }

  @if (selectedDistrictId) {
    <mat-form-field appearance="fill">
      <mat-label>{{ SELECT_PLACENAME }}</mat-label>
      <mat-select [(ngModel)]="selectedPlaceId">
        @for (place of places; track place.id) {
          <mat-option [value]="place.id">{{ place.name }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  }
</div>